<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>ManualJam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="container">
        <nav>
          <ul>
            <%# <li><strong>Brand</strong></li> %>
          </ul>
          <ul>
            <li><%= link_to "Home", home_index_path %></li>
            <li><%#= link_to "Historias", stories_path %></li>
            <%# <li><a href="#">Link</a></li> %>
            <%# <li><a href="#" role="button">Button</a></li> %>
          </ul>
        </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
